<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://www.mcafee.com/content/dam/consumer/en/company-logo/McAfeeHzRed.svg" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="">
        Home
      </a>
      <a class="navbar-item" routerLink="/home">
       Total Protection
      </a>

      <a class="navbar-item" routerLink="/admin">
       Antivirus
      </a>
      <a class="navbar-item" routerLink="/identity">
        Identity
       </a>
      <a class="navbar-item" routerLink="/vpn">
        VPN
       </a>
       <a class="navbar-item" routerLink="/login">
        Login
       </a>
</div>
  </div>
</nav>

<router-outlet></router-outlet>

