<html>
    <style>
        h1 {text-align: center;}
       p {text-align: center;}
       img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
    </style>
    <body style="background-color: aliceblue;">
    <h1 style="color: red;">Identity monitoring</h1>
    <h1><strong>that keeps your
        personal info secure​</strong></h1>
        <p>24/7 monitoring of your email addresses, bank accounts and more.**</p>
        <h1 style="color: red;">GET PROTECTION NOW ! !</h1>
        <h1 style="color: red;">Simple steps to better protection</h1>
        <p>Protection Score checks the health of your online protection and provides simple instructions to improve your security. Knowing how safe you are is the first step toward a safer life online—what's your Protection Score?</p>
        <h1 style="color: red;">All the confidence you need</h1>
        <p>You do you and we’ll protect the rest with our purchase and protection guarantees.
            And if you have any questions, our security experts are available to help.</p>
            <img src="https://www.mcafee.com/en-in/identity-theft/protection/_jcr_content/root/responsivegrid/section_1927990655_c/main_section_content/cardsection_copy/card_0/card_img.coreimg.svg/1638905286466.svg" class="center">
    </body>
</html>
<h1 style="color: red;">How our identity monitoring service works</h1>
<div class="contents" >
    <div class="content">
        <mat-card>
        <mat-card-content>
        <h1><strong>Getting Set Up</strong></h1>
        <p>Enroll in identity monitoring. We’ll monitor the most critical details of your life online.</p>
        </mat-card-content>
        </mat-card>
    </div>
    
    <div class="content">
        <mat-card>
        <mat-card-content>
        <h1><strong>Proactive, guided protection</strong></h1>
        <p>Get quick and guided help to secure your identity, should your personal info be found online.</p>
        </mat-card-content>
        </mat-card>
        </div>
        <div class="content">
            <mat-card>
            <mat-card-content>
            <h1><strong>Secure your identity</strong></h1>
            <p>Get tips to quickly and effectively secure your identity today, while making it harder to steal your info tomorrow.</p>
            </mat-card-content>
            </mat-card>
            </div>
    </div>